/* Nord Color Scheme */
:root {
	--dark1: #2e3440;
	--dark2: #3b4252;
	--dark3: #434c5e;
	--dark4: #4c566a;
	--light1: #d8dee9;
	--light2: #e5e9f0;
	--light3: #eceff4;
}

* {
	margin: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.button-dark {
	background-color: var(--dark4);
	color: var(--light3);
}

.button-light {
	background-color: var(--light3);
	color: var(--dark4);
}

.navbar-nav {
	order: 1;
}

.navbar-brand {
	margin: 1rem;
	font-size: 1.5rem;
}

.navbar-brand-light {
	text-shadow: 0px 0px 4px #000;
}

.navbar-btn {
	margin: 1rem;
	margin-left: auto;
	order: 2;
	border: none;
	padding: 0.5rem;
	border-radius: 1rem;
}

h4 {
	margin: 1rem;
}

.text-light {
	color: var(--light3);
}

.text-dark {
	color: #000;
}

.link-light {
	color: var(--light1);
	margin: 1rem;
}

.link-dark {
	color: var(--dark3);
	margin: 1rem;
}

.navbar {
	box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 100;
	position: fixed;
}

.navbar-dark {
	background-color: var(--dark2);
}

.navbar-light {
	background-color: #fff;
}

.loading-div-dark {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	height: 60px;
	width: 60px;
	background: var(--dark2);
	border-radius: 1rem;
	-webkit-animation: spin 4s linear infinite;
	-moz-animation: spin 4s linear infinite;
	animation: spin 4s linear infinite;
}

.loading-div-light {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	height: 60px;
	width: 60px;
	background: #fff;
	border-radius: 1rem;
	-webkit-animation: spin 4s linear infinite;
	-moz-animation: spin 4s linear infinite;
	animation: spin 4s linear infinite;
}

.loading-div-dark-2 {
	height: 20px;
	width: 20px;
	background: var(--dark2);
	border-radius: 1rem;
}

.loading-div-light-2 {
	height: 20px;
	width: 20px;
	background: #fff;
	border-radius: 1rem;
}

.ul {
	padding: 2rem;
	min-height: 100vh;
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.ul .media-li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
}

.ul .media-li:first-of-type {
	margin-top: 4rem;
}

.media-li-dark {
	border: 3px solid var(--dark2);
}

.media-li-light {
	border: 3px solid var(--light1);
}

.media-info {
	min-width: 10rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.media-info p {
	display: flex;
	justify-content: center;
	margin: 0.2rem;
}

.media-link {
	margin-bottom: 1rem;
}

.ul li {
	list-style: none;
	margin: 1rem;
	border-radius: 1rem;
}

.ul-dark {
	background-color: var(--dark1);
}

.ul-light {
	background-color: #fff;
}

.reddit-media {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.reddit-image,
.reddit-video {
	width: 80%;
	height: auto;
	margin: 1rem;
}

@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
