/* Nord Color Scheme */

* {
	margin: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.button-dark {
	background-color: '#4c566a';
	color: '#eceff4';
}

.button-light {
	background-color: '#eceff4';
	color: '#4c566a';
}

h4 {
	margin: 1rem;
}

.text-light {
	color: #fff;
}

.text-dark {
	color: #000;
}

.link-light {
	color: #d8dee9;
	margin: 1rem;
}

.link-dark {
	color: #4c566a;
	margin: 1rem;
}

.navbar {
	box-shadow: 0px -18px 18px 8px #000;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navbar-dark {
	background-color: #3b4252;
}

.navbar-light {
	background-color: #fff;
}

.ul {
	padding: 2rem;
	min-height: 100vh;
}

.ul-dark {
	background-color: #2e3440;
}

.ul-light {
	background-color: #eceff4;
}

.navbar-nav {
	order: 1;
}

.navbar-btn {
	margin: 1rem;
	margin-left: auto;
	order: 2;
}
