/* Nord Color Scheme */

* {
	margin: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.button-dark {
	background-color: '#4c566a';
	color: '#eceff4';
}

.button-light {
	background-color: '#eceff4';
	color: '#4c566a';
}

h4 {
	margin: 1rem;
}

.text-light {
	color: #fff;
}

.text-dark {
	color: #000;
}

.link-light {
	color: #d8dee9;
	margin: 1rem;
}

.link-dark {
	color: #4c566a;
	margin: 1rem;
}

.navbar {
	box-shadow: 0px -18px 18px 8px #000;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navbar-dark {
	background-color: #3b4252;
}

.navbar-light {
	background-color: #fff;
}

.loading-div-dark {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	height: 60px;
	width: 60px;
	background: #3b4252;
	border-radius: 1rem;
	-webkit-animation: spin 4s linear infinite;
	-moz-animation: spin 4s linear infinite;
	animation: spin 4s linear infinite;
}

.loading-div-light {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	height: 60px;
	width: 60px;
	background: #fff;
	border-radius: 1rem;
	-webkit-animation: spin 4s linear infinite;
	-moz-animation: spin 4s linear infinite;
	animation: spin 4s linear infinite;
}

.loading-div-dark-2 {
	height: 20px;
	width: 20px;
	background: #3b4252;
	border-radius: 1rem;
}

.loading-div-light-2 {
	height: 20px;
	width: 20px;
	background: #fff;
	border-radius: 1rem;
}

.ul {
	padding: 2rem;
	min-height: 100vh;
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
}

.ul-dark {
	background-color: #2e3440;
}

.ul-light {
	background-color: #eceff4;
}

.navbar-nav {
	order: 1;
}

.navbar-btn {
	margin: 1rem;
	margin-left: auto;
	order: 2;
}

.reddit-media {
	display: flex;
	flex-direction: column;
}

.reddit-image,
.reddit-video {
	width: 80%;
	height: auto;
}

@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
